/* post type icons
----------------------------------------------------------------------*/
#adminmenu #toplevel_page_pxlcore_dashboard div.wp-menu-image::before {
	content: "\f226";
}

/* admin styles for pxlcore
----------------------------------------------- */
#pxlcore-updates {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	background-color: #ffebe8;
	border-color: #c00;
	padding: 0 .6em;
	margin: 35px 15px 0 0;
}
#pxlcore-updates-wrap {
	display: none;
}
a.show_hide {
	text-decoration: none;	
}

#wpadminbar li.local-indicator {
	font-weight: bolder;
	background-color: #CF0001;
}
@media only screen and (max-width : 640px) {
	
	#wpadminbar .local-indicator{
		background: #CF0001;
		display: block;
		height: 20px;
		width: 20px;
		box-shadow: 0px 0px 10px black;
		margin-top: 4px;
		text-indent: 100%;
		overflow: hidden;
		border-radius: 3px;
	}

}

/* pxlcore dashboard styles
----------------------------------------------- */
body.toplevel_page_pxlcore_dashboard .welcome-panel {
	padding-bottom: 23px;
}
.welcome-panel-content {
	margin-bottom: 15px;
}
.welcome-panel .pxlcore-dashboard-content {
	margin-left: 15px;
}
.pxlcore-dashboard-content .col {
	float: left;
	display: inline;
	margin-right: 4%;
}
.pxlcore-dashboard-content .half-col {
	width: 48%;
}
.pxlcore-dashboard-content .third-col {
	width: 30.66666666666667%;
}
.pxlcore-dashboard-content .last-col {
	margin-right: 0;
}
h4.pxlcore-col-title {
	text-shadow: 1px 1px 1px #fff;
	margin: 0;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size: 21px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 10px;
}
.services h4.pxlcore-col-title {
	text-align: center;
}
.services .col {
	margin-bottom: 12px;
}
.pxlcore-dashboard-content p {
	font-size: 14px;
	line-height: 1.4;
	margin-top: 0px;
}
.icon img {
	margin: 0 auto;
	display: block;
	margin-bottom: 12px;
}

/* general styles
----------------------------------------------- */
.clearfix {
	clear: both;
}